<div class="container-fluid">
    <p>The table below lists the most recent participant activity.</p>
    <form ng-submit="fetchActivity()">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Filter by name" id="nameFilter">
            <div class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="fetchActivity()"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
    </form>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>User</th>
            <th>Team</th>
            <th>Current Level</th>
            <th>Challenge</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="activityEntry in activityList">
                <td>{{activityEntry.givenName}} {{activityEntry.familyName}}</td>
                <td>{{teamNames[activityEntry.teamId]}}</td>
                <td>{{levelNames[activityEntry.level]}}</td>
                <td>{{activityEntry.challengeName}}</td>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
</div>
