<div class="container-fluid">
    <h3>Hi {{firstName}}! Your level is: '{{userLevelString}}' </h3>
    <p>Complete the challenges below to advance to the next level. Click on the challenge name to expand/collapse the description.</p>
    <p><span class="glyphicon glyphicon-info-sign"></span> 
        Throughout the challenges try to think how the particular vulnerability applies to your own code. 
        While the vulnerable applications are web sites (for the purpose of providing a easily accessible gaming platform), 
        the majority of the concepts apply to any software: desktop applications, mobile applications or operating system services.</p>
    
    <div class="panel-group" id="accordion">
        <div ng-repeat="level in challengeDefinitions">
            <div class="panel panel-default" ng-repeat="challenge in level.challenges" ng-if="user.level+1>=level.level">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a data-toggle="collapse" data-parent="#accordion" data-target="#collapse{{challenge.id}}" href="">
                            
                            {{level.name}} : {{challenge.name}} 

                                <span class="glyphicon glyphicon-check pull-right" ng-if="challenge.passed"></span>
                                <span class="pull-right" ng-if="challenge.passed">&nbsp;</span>
                                <a href="#!submitCode/{{challenge.id}}" class="btn btn-info pull-right btn-xs" ng-if="!challenge.passed" role="button"> Submit Code</a>
                                <span class="pull-right" ng-if="!challenge.passed">&nbsp;</span>
                                <a href="#!solution/{{challenge.id}}" class="btn btn-success pull-right btn-xs" ng-if="challenge.solution" role="button">View Solution</a>

                        </a>
                    </h4>
                </div>
                <div id="collapse{{challenge.id}}" class="panel-collapse collapse"  ng-class="{'in':!challenge.passed}">
                    <div class="panel-body">
                        <h4>Play Link and Instructions</h4>
                        <p ng-if="challenge.playLink">Navigate to the 
                            <a ng-if="challenge.playLink.indexOf('http')===0" href="{{challenge.playLink}}" target="_blank">play link</a>
                            <a ng-if="challenge.playLink.indexOf('/')===0" href="{{targetUrl}}{{challenge.playLink}}" target="_blank">play link</a>
                        . </p>
                        <p ng-if="!challenge.playLink">
                            The play link has been provided to you when solving the previous challenge. 
                            If you have missed it read the challenge description carefully and try to figure out what it is.
                        </p>
                        <p>Once you were able to exploit the vulnerability you can generate a secret code which you can submit above.</p>
                        <br>
                        <span ng-if="hasCodeBlocks(challenge)">
                        <h4>Code Blocks Associated with the Challenge</h4>
                        <ul>
                            <li ng-repeat="codeBlockId in challenge.codeBlockIds"><a target="_blank" href="#!codeBlocks/{{codeBlockId}}">{{codeBlocks[codeBlockId].name}}</a></li>
                        </ul>
                        <br>
                        </span>
                        <h4>Challenge Description</h4>
                        <div ng-include="challenge.description"></div>
                    </div>
                </div>
            </div>
            <br>

        </div>
        
    </div>
    <br><br>
</div>