<div class="container-fluid" ng-app="challengesApp" ng-controller="codeBlocksCtrl">
  <div class="col-xs-2">
    <ul class="nav nav-pills nav-stacked">
      <li ng-repeat="(id,block) in codeBlocks" ng-class="{ active: isCodeBlockActive(id) }">
        <a  data-toggle="pill" data-target="#menu{{$index}}" href="#!codeBlocks/{{id}}">{{block.name}}</a>
      </li>
    </ul>
  </div>
  <div class="tab-content col-xs-10">
    <div ng-repeat="(id,block) in codeBlocks" id="menu{{$index}}" class="tab-pane fade ng-class:{'in active': isCodeBlockActive(id)}"> 
      <br>
      <div ng-include="block.description"></div>

    </div>
  </div>
  <br>
  <br>
</div>
