<div class="container-fluid" ng-app="challengesApp" ng-controller="codeBlocksCtrl">
  <div class="row">
      <div class="col col-lg-2" role="navigation">
          <div class="list-group list-group-flush">
                <a class="list-group-item list-group-item-action"  ng-repeat="(id,block) in codeBlocks" 
                ng-class="{ active: isCodeBlockActive(id) }" data-toggle="pill" data-target="#menu{{$index}}" 
                ng-href="#!codeBlocks/{{id}}">
                    {{block.name}}
                </a>
          </div>
      </div>
      <div class="col col-lg-10" role="presentation">
          <div class="tab-content">
              <div ng-repeat="(id,block) in codeBlocks" id="menu{{$index}}" 
              class="tab-pane fade ng-class:{'show active': isCodeBlockActive(id)}"> 
                <div ng-include="block.description" highlight-code></div>
          
              </div>
          </div>
      </div>
  </div>
  
  
  <br>
  <br>
</div>
