<div class="container" ng-app="challengesApp" ng-controller="leaderboardCtrl" ng-init="init()">   
    <label for="teamListChoice">Select a team to see member status</label>
    <input list="teamList" id="teamListChoice" name="teamListChoice" class="custom-select" 
        ng-model="teamListChoice" ng-change="onTeamChange()" autocomplete="off"/>
    <datalist id="teamList">
        <option ng-repeat="teamInfo in teamStatList" value="{{$index}}">{{teamInfo.teamName}} ({{teamInfo.playerCount}})</option>
    </datalist>
    <br>
    <br>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" ng-repeat="module in modules">{{module.name}} ({{module.percentageCompleted}}%)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td scope="col" ng-repeat="module in modules">
                    <ol class="small">
                        <li ng-repeat="user in module.members">
                            {{user.givenName}} {{user.familyName}}
                        </li>
                    </ol>
                </th>
            </tr>
        </tbody>
    </table>
    <br>
    <br>
</div>
