<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Secure Coding Dojo</title>

<script src="public/jquery.min.js"></script>
<script src="public/angular.min.js"></script>
<script src="public/angular-route.min.js"></script>
<script src="public/bootstrap/js/bootstrap.min.js"></script>
<script src="static/main-app.js"></script>
<script src="static/leaderboardCtrl.js"></script>
<script src="static/submitCodeCtrl.js"></script>
<script src="static/codeBlocksCtrl.js"></script>
<script src="static/activityCtrl.js"></script>
<script src="static/reportCtrl.js"></script>
<script src="static/solutionCtrl.js"></script>

<link rel="stylesheet" href="public/bootstrap/css/bootstrap.min.css">
<script>
    window.sessionStorage.setItem('XSRF_TOKEN','%XSRF_TOKEN%');
    window.getAjaxOpts = function(){
       var opts =  {
           headers:{
               "xsrfToken":window.sessionStorage.getItem("XSRF_TOKEN")
           }
       }
       return opts;
    }
</script>

</head>
<body>

    <div ng-app="challengesApp" ng-controller="mainCtrl">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#!">Secure Coding Dojo</a>
                </div>
                <ul class="nav navbar-nav">
                    <li ng-class="{ active: isActive('/')}"><a href="#!">Challenges</a></li>
                    <li ng-class="{ active: isActive('/codeBlocks')}"><a href="#!codeBlocks/inputWhitelisting">Code Blocks</a></li>
                    <li ng-class="{ active: isActive('/leaderboard')}"><a href="#!leaderboard">Leaderboard</a></li>
                    <li ng-class="{ active: isActive('/activity')}"><a href="#!activity">Activity</a></li>
                    <li ng-class="{ active: isActive('/report')}" ng-if="reportAvailable"><a href="#!report">Report</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="" data-toggle="modal" data-target="#teamModal"><span class="glyphicon glyphicon-user"></span> My Team</a></li>
                    <li ng-if="user.accountId.indexOf('Local_')===0"><a href="" data-toggle="modal" data-target="#profileModal"><span class="glyphicon glyphicon-lock"></span> My Profile</a></li>
                    <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout {{fullName}}</a></li>
                </ul>
            </div>
        </nav>
            

            <div class="alert alert-warning" id="teamAlert" ng-if="user.teamId==null || user.teamId==0">
                <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                You have not joined a team yet! <a href="#" class="alert-link" data-toggle="modal" data-target="#teamModal">Join an existing team or create a team for yourself.</a>
            </div>

            <div class="alert alert-info" id="activityAlert" ng-if="showActivityMessage">
                    <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <b>Last activity:</b> {{latestActivityMessage}}
            </div>
       
             <!-- This is where the main view goes -->
            <div ng-view></div>



            <!-- Team configuration -->
            <div id="teamModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Team configuration UI -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Team Selection</h4>
                        </div>
                        <div class="modal-body">
                            
                            <div id="editContainer" ng-if="ownedTeam==null">
                                <label for="existingTeamSelect">Pick existing team:</label>
                                <select class="form-control" id="existingTeamSelect" autocomplete="off">
                                    <option value=0>Select a team</option>
                                    <option ng-repeat="team in teamList" value="{{team.id}}" ng-selected="team.id==user.teamId">{{team.name}}</option>
                                    
                                </select>
                            
                                <br><br>
                                <label for="newTeamName">Create new team:</label>
                                <input type="text" class="form-control" id="newTeamName">
                            </div>
                            <div id="ownerContainer" ng-if="ownedTeam!=null">
                                <p>You manage the team <strong>'{{ownedTeam.name}}'</strong>
                                <a href="#" ng-click="deleteOwnedTeam()">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </a>
                                </p>
                            </div>
                        
                            
                        </div>
                        <div class="alert alert-danger" id="teamErrorMessage" ng-if="isTeamSaveError">
                                <button type="button" class="close" ng-click="hideTeamSaveError()">&times;</button>
                                {{teamSaveErrorMessage}}
                        </div>
                        <div class="alert alert-success" id="teamSuccessMessage" ng-if="isTeamSaveSuccess">
                                <button type="button" class="close" ng-click="hideTeamSaveSuccess()">&times;</button>
                                {{teamSaveSuccessMessage}}
                        </div>
                        <div class="modal-footer">
                            
                            <button type="button" class="btn btn-default" ng-click="saveTeamSettings()" ng-if="ownedTeam==null">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="hideMessages()">Close</button>
                        </div>
                    </div>
                </div>
            </div>


             <!-- Profile configuration -->
             <div id="profileModal" class="modal fade" role="dialog">
                <div class="modal-dialog">

                    <!-- Profile configuration UI -->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">User Profile</h4>
                        </div>
                        <div class="modal-body">
                        
                            <div class="form-group">
                                <label for="currentPassword">Current Password:</label>
                                <input type="password" class="form-control" id="currentPassword" autocomplete="off" >
                            </div>
                            <div class="form-group">
                                    <label for="newPassword">New Password:</label>
                                    <input type="password" class="form-control" id="newPassword" autocomplete="off" >
                            </div>
                            <div class="form-group">
                                <label for="vfyPassword">Verify password:</label>
                                <input type="password" class="form-control" id="vfyPassword" autocomplete="off">
                            </div>
                             
                            
                        </div>
                        <div class="alert alert-danger" id="teamErrorMessage" ng-if="isProfileSaveError">
                                <button type="button" class="close" ng-click="hideProfileSaveError()">&times;</button>
                                {{profileSaveErrorMessage}}
                        </div>
                        <div class="alert alert-success" id="teamSuccessMessage" ng-if="isProfileSaveSuccess">
                                <button type="button" class="close" ng-click="hideProfileSaveSuccess()">&times;</button>
                                {{profileSaveSuccessMessage}}
                        </div>
                        <div class="modal-footer">
                            
                            <button type="button" class="btn btn-default" ng-click="updateLocalUser()">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        
    </div> 
    
    <br><br><br><br>
    
    
    <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
          <div class="navbar-header navbar-right">
            <a class="navbar-brand" href="/public/privacy.html" target="_blank">Privacy Policy</a>
          </div>
        </div>
    </nav>
</body>
</html>