<div class="container-fluid" ng-app="challengesApp" ng-controller="reportCtrl">
<form autocomplete="off">
    <div class="input-group mb-3">
        <div class="custom-file" >
            <input type="file" class="custom-file-input" name="fileUpload" id="fileUpload" onchange="angular.element(this).scope().upload(this)">
            <label class="custom-file-label" for="fileUpload" id="fileUploadLabel">{{uploadText}}</label>
        </div>
    </div>
  

    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <label class="input-group-text" for="moduleSelect">Select Module</label>
        </div>
        <select class="custom-select" id="moduleSelect" ng-model="moduleSelect" ng-change="loadUserReport()" ng-value="reportModule">
            <option ng-repeat="(key, value) in modules" value="{{key}}">{{value.name}}</option>
        </select>
    </div>
          

</form>

<div ng-if="reportUsers">
<p>
<table class="table table-striped">
    <tr>
        <th>Report Date</th>
        <th>Total Users</th>
        <th>Completed</th>
        <th>Not Done</th>
        <th>Percent Complete</th>
    </tr>
    <tr>
        <td>{{reportDate}}</td>
        <td>{{reportUsers.totalMembers}}</td>
        <td>{{reportUsers.completeMembers}}</td>
        <td>{{reportUsers.incompleteMembers}}</td>
        <td>{{reportUsers.percentComplete}}%</td>
    </tr>
</table>
</p>
<h5>Report details:</h5>
<p>
<table class="table table-responsive">
    <tr ng-repeat="team in reportUsers.teamList">
        <th scope="row">{{team.team}} ({{team.percentComplete}}%)</th>
        <td>
            <span ng-repeat="member in team.members" 
                ng-class="{'table-success': member.status==='Complete'}">
                    <span class="oi oi-check" ng-if="member.status==='Complete'"></span>
                    <span class="text-sm">{{member.name}};</span>
            </span>
        </td>
    </tr>
</table>
</p>
</div>
<br><br><br>


</div>
