<!--
    Copyright 2023 VMware, Inc.
    SPDX-License-Identifier: Apache-2.0	
-->
<html>

<head>
  <title>Coin Miner Chat</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="cncChat.css">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <script src="/jquery/jquery.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
  <script src="/angular/angular.min.js"></script>
  <script src="/jsencrypt/jsencrypt.min.js"></script>
  <script src="/crypto-js/core.js"></script>
  <script src="/crypto-js/sha256.js"></script>

</head>
<body class="m-0 p-0 bg-dark">

  <div ng-app="chatApp" class="m-0 p-0 container-fluid" ng-controller="chatCtrl">

    <nav class="navbar navbar-dark bg-dark p-2">                
        <a class="navbar-brand" href="#">Coin Miner Chat</a>
        <ul class="navbar-nav">
            <li class="nav-item">
                <button class="nav-link" onclick="$('#loginModal').modal('show')">
                 Chat Login
                </button>
            </li>
        </ul>
    </nav>

      <div class="modal" id="loginModal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Login to your account</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="usr">Name:</label>
                        <input type="text" class="form-control" id="usr" name="usr">
                      </div>
                    <div class="form-group">
                      <label for="pwd">Password:</label>
                      <input type="password" class="form-control" id="pwd" name="pwd">
                    </div>
                </form>
                <div class="alert alert-danger" ng-if="loginError" id="loginErrDiv">Login failed!</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="loginModalSubmit" ng-click="login()">Login</button>
            </div>
          </div>
        </div>
      </div>


      <div id="chat" ng-if="showChat" class="bg-white p-4 m-4">
        <div class="panel-heading">
            <h4>Foobar Chat Messages</h4> 
            <p>
                <strong>Current user:</strong> <span id="userName">{{userNameText}}</span> ( <a id="challengeCodeUrl" ng-href="{{challengeCodeUrl}}" target="_blank" rel="noopener noreferrer">{{challengeCodeUrl}}</a>)
            </p>
            <hr>
            <form>
                <div class="form-group">
                    <label for="message">Say something:</label>
                    <input type="text" class="form-control" id="messageInput" name="messageInput">
                    <br>
                    <button type="button" class="btn btn-success" id="sendSubmit" ng-click="send()">Send</button>
                    <button type="button" class="btn btn-success" id="load" ng-click="getChatMessages()">Load</button>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" ng-if="chatError" id="chatErrorDiv">Current user does not have messages permission.</div>
            <div class="alert alert-danger" style="display:none"  ng-model="chatAlertDiv" id="chatAlertDiv"></div>
            <div class="alert alert-success" ng-if="messageSuccess">
                <p>The page is now sending a request to the xss.tracker host. Check the Network tab of the browser debugger!</p>
                <p>Here's your challenge code url: <a ng-href="{{xssChallengeCodeUrl}}" target="_blank" rel="noopener noreferrer">{{xssChallengeCodeUrl}}</a>
                </p>

            </div>
            <div class="alert alert-success" ng-if="messageSuccess">Here's your next challenge: {{nextChallenge}}</div>

            <div ng-repeat="message in chatMessages | reverse" ng-if="message.type!=='encMessage'" ng-class="{'panel panel-primary': message.type === 'userMessage','panel panel-success': message.type !== 'userMessage'}">


                <div class="card m-4">
                    <div class="card-body">
                        <h5 class="card-title">{{message.user}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">{{message.date}}</h6>
                        <p class="card-text">{{message.message}}</p>
                    </div>
                </div>
            </div>

        </div>
      </div>

  </div>


  <script type="text/javascript">
    var encrypt = new JSEncrypt.JSEncrypt({default_key_size:512});
    var privKey = localStorage.getItem("privKey") 
    var pubKey = localStorage.getItem("pubKey") 
    if(!privKey){
        var key = encrypt.getKey()
        privKey = key.getPrivateBaseKeyB64()
        localStorage.setItem("privKey", privKey)
        pubKey = key.getPublicBaseKeyB64()
        localStorage.setItem("pubKey", pubKey)
    }
    
    encrypt.setKey(privKey)

    encryptText=function(messageText){
        var re = new RegExp('.{1,40}', 'g');
        var messParts = messageText.match(re);
        var encMess = []
        var integrityVal = messageText+pubKey
        var integrity = CryptoJS.SHA256(integrityVal).toString()
        for(let part of messParts){
            encMess.push((encrypt.encrypt(part)))
        }
        var messageObj = {
            "type":"encMessage",
            "encMess":encMess,
            "pubKey": pubKey,
            "date":new Date().toLocaleString(),
            "integrity":integrity
        }
        return JSON.stringify(messageObj);       
    }

    decryptText=function(cipherText){
        var decrypted = ""
        if(Array.isArray(cipherText)){
            for(let part of cipherText){
                decryptedPart = encrypt.decrypt(part)
                if(decryptedPart) decrypted+=decryptedPart
                else return false
            }
        }
        else{
            decrypted = encrypt.decrypt(cipherText)
        }
        return decrypted
    }

    window.getAjaxOpts = function(){
       var opts =  {
           headers:{
               "Authorization":'Bearer '+window.sessionStorage.getItem("token"),
               "Content-Type":"application/json"
           }
       }
       return opts;
    }


    var app = angular.module('chatApp',[]);
    app.filter('reverse', function() {
        return function(items) {
            return items.slice().reverse();
        };
    });
    app.controller('chatCtrl', function($scope, $http){

        $scope.showChat=false;

        $scope.getCurrentUser = function(){
            $('#loginModal').modal('show');
            
            $http.get("currentuser",window.getAjaxOpts()).then(
                function(response){
                    if(response && response.data && response.data.sub){
                        $('#loginModal').modal('hide');
                        $scope.userNameText = response.data.name;
                        $scope.userId = response.data.sub;
                        if(response.data.challengeCodeUrl){
                            $scope.challengeCodeUrl = response.data.challengeCodeUrl;
                        }    
                        $scope.showChat=true;
                    }
                    else{
                        $('#loginModal').modal('show');
                    }
                    
                    $scope.getChatMessages();
                },()=>{
                    $('#loginModal').modal('show');
                });
        }
        

        $scope.getChatMessages = function(){

            if(typeof $scope.chatMessages==='undefined'){
                $scope.chatMessages=[];
            }
      
            $http.get("messages.json?"+Math.random(),window.getAjaxOpts()).then(
                function(response){
                    if(response && response.data){
                        
                        if($scope.chatError){
                            $scope.chatError = false;   
                            return $scope.getCurrentUser();
                        }
                        else{ 
                            if($scope.chatMessages.length !== response.data.length) $scope.chatMessages = response.data
                            else return
                        }
                        

                        $scope.chatMessages.forEach(function(message) {
                            if(message.type==='encMessage' && message.encMess && message.pubKey === pubKey){
                                try {
                                    chatAlertDiv.style.display="none";
                                    var text = decryptText(message.encMess);
                                    if(typeof text !== 'undefined' && text!==null && text!==false && text!==""){
                                        chatAlertDiv.style.display="";
                                        chatAlertDiv.innerHTML = text;
                                        if(message.challengeCodeUrl && message.challengeCodeUrl.length > 0){
                                            $scope.messageSuccess = true;
                                            $scope.xssChallengeCodeUrl = decryptText(message.challengeCodeUrl);
                                            $scope.challengeCodeUrl = ""; 
                                            $scope.nextChallenge = decryptText(message.nextChallenge);
                                        }
                                    }
                                    
                                } catch (error) {
                                    console.error(error)
                                }
                            }
                        });
                       
                    }
                    else{
                        $scope.chatError = true;
                    }
                },function(err){
                    $scope.chatError = true;
                });
        }

        $scope.login=function(){
            $scope.loginError=false;
            $http.post('auth',{
                "userName":usr.value,
                "userPass":pwd.value
            }).then((response)=>{
                    if(response && response.data && response.data.token){
                        window.sessionStorage.setItem('token',response.data.token);
                        $scope.getCurrentUser();
                    }
                    else{
                        $scope.loginError=true;
                    }
                },()=>{
                    $scope.loginError=true; 
                });
        }


        $scope.send=function(){
            $scope.loginError=false;
            $http.post("messages",{
                "type":"userMessage",
                "user":$scope.userId,
                "message":messageInput.value,
                "date":new Date().toLocaleString()
            },window.getAjaxOpts()).then(
                function(response){
                    messageInput.value="";    
                },()=>{
                    alert("Disalowed")
                });
        }

        setInterval($scope.getChatMessages,1000); 

        $scope.getCurrentUser();

    });

    
    
  </script>
  
</body>
</html>

