{
    "cwe306":"u4Jbronzpk_iQEVB5tTHMg",
    "cwe807":"jclc7ZdiBQPbHGL4mF-lmw",
    "cwe863":"BVqA2s8B91_aomdphIOQLQ",
    "cwe307":"SZMBCzd03g9vTe_pp5HiFQ",
    "cwe862":"LJC-YQkNNFtPR6Y-5A68Gg",
    "cwe311":"rQDPr03CQnQZ0WfR--bHLQ",
    "cwe327":"3hDih52fRa2y7nmYvz_peg",
    "cwe759":"Tk2xrPIxRmR_u8kzPq0-ug",
    "cwe601":"5uttVCWso7vtMCqBzclN9A",
    "cwe494":"HjDw0rUCmJryd8zSaiHthA",
    "cwe79":"lqqC3DNafOEb3GxLeQb0Bw",
    "cwe352":"_PXVfvlRGF5XW_bVCBr3XA",
    "cwe22":"RZKICkHtkEEYKxRIxDEXwA",
    "cwe78":"1ahklqx6cIeV0LXv5JBM3g",
    "cwe89":"eUKM0gs1LtNnbQSiYoPoxQ",
    "cwe509":"6NA12RunCoJOQKnSltmT3D",
    "cwe120":"beTeaq_bG15nWkgokOGiBQ",
    "cwe611":"sNh_ycHZraTi0qMZNUoUtw",
    "cwe434":"BZwlPEzfamv5sSnTG-WHog",
    "cwe134":"OiieDUAhk9mtUj8icg2oAQ",
    "cwe190":"Y4QToLcYLt7lmtB463jTwQ",
    "quiz":"mClnF2dmcDB36wUYJUPQ-w",
    "owasp2017misconfig":"zroAgX/4AafEI7cjk6eghA==",
    "owasp2017sensitive":"VmvimEKUPLCfcymy6CXPyQ==",
    "owasp2017brokenauth":"0KdZ7YpZFOfV7IFcMiYTAg==",
    "owasp2017xss":"/T03YxsrZTaDVxR3n6QLpA==",
    "owasp2017injection":"WSgWE8zc4iauZhSZlMPclA==",
    "owasp2017xxe":"NsIxmCjjwIdMnCoiqipjMQ==",
    "owasp2017deserialization":"RiKrFbOGoyH9+/vRGGRGzg=="

}

